option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    GROUP_FINDER_TABLE: Group-Finder
    GROUP_FINDER_USERS_TABLE: Group-Finder-Users
    GOOGLE_APPLICATION_CREDENTIALS: '/var/app/current/storage/firebase-key.json'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
